In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("./clean_data_2.csv")

In [15]:
df.columns

Index(['NMS Service Plan Id', 'Lat', ' Long', 'Phone',
       'Parent Account: Account Name', 'Latest Decommission Date',
       'DSS Order ID', 'FSO ID', 'Enterprise ID', 'Distributor Partner Id',
       'Satellite', 'Gateway Name', 'Transponder', 'Created Date',
       'Latest Commission Date', 'Last Modified Date', 'Modem', 'Beam Id',
       'Offer/Plan Name', 'Offer Description', 'Serial Number',
       'Location Status', 'location', 'state'],
      dtype='object')

In [16]:
# cols = ['Address', 'Unnamed: 5',
#        'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
#        'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
#        'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
#        'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
#        'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
#        'Unnamed: 27', 'Unnamed: 28']
# cols1 = ['Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
#        'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
#        'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
#        'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
#        'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
#        'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70',
#        'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74',
#        'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78',
#        'Unnamed: 79', 'Unnamed: 80']
# df['location'] = df[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [17]:
df.head(4)

,NMS Service Plan Id,Lat,Long,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,Distributor Partner Id,...,Latest Commission Date,Last Modified Date,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,location,state
0,NC020G1,4.956944,6.361944,8032582277,Marcorex Telco Services Hyperia,43203,NaN,3521532,NaN,NaN,...,42444,43207,HN9600,Y1B051,YahClick Empower 20GB,NaN,2628267,Inactive,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa...",Bayelsa
1,NC010G1,6.470000,6.090000,8020575565,GETACHUS NIG LTD Hyperia,43206,NaN,3619771,NaN,NaN,...,43178,43207,HN9260,Y1B051,YahClick Lite 10GB,NaN,2332146,Inactive,"F39R+X2 Ebute-Ujogba, _Uhi, Edo, _301113, Ed...",Edo
2,NC010G1,9.240000,12.439722,(234) 146-1991,Etchgold Nigeria Limited,43200,NaN,3373588,SKY01326,NaN,...,41745,43207,HN9800,Y1B061,YahClick Lite 10GB,NaN,2482968,Inactive,"6CQQ+XV Jimeta, _6CRQ+27Q, Barracks Road, Kar...",Adamawa
3,NC010G1,5.483333,5.197500,8032345321,SDC Limited Hyperia,43216,NaN,3587734,NaN,NaN,...,42965,43216,HN9800,Y1B051,YahClick Lite 10GB,NaN,2489641,Inactive,"F5MW+8X Olusumere-Oke, _Unnamed Road, 332105,...",Delta

In [6]:
# df.drop(cols, axis=1, inplace=True)
# df.drop(cols1, axis=1, inplace=True)

In [18]:
# df.head(3)

In [24]:
states_in_nigeria = [
    "Abia", "Adamawa","Akwa Ibom","Anambra",
    "Bauchi","Bayelsa","Benue","Borno",
    "Cross River","Delta",
    "Ebonyi","Edo","Ekiti","Enugu",
    "Gombe","Imo","Jigawa","Kaduna",
    "Kano","Katsina","Kebbi","Kogi","Kwara","Lagos", 
    "Nasarawa","Niger", "Ogun","Ondo", "Osun","Oyo",
    "Plateau","Rivers", "Sokoto","Taraba","Yobe",
    "Zamfara","Federal Capital Territory","Abuja"
]
def is_state_in_nigeria(location):
    for state in states_in_nigeria:
        if state in location:
            return state
    return False

In [25]:
df['state1'] = df['location'].apply(is_state_in_nigeria)
df.head()

,NMS Service Plan Id,Lat,Long,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,Distributor Partner Id,...,Last Modified Date,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,location,state,state1
0,NC020G1,4.956944,6.361944,8032582277,Marcorex Telco Services Hyperia,43203,NaN,3521532,NaN,NaN,...,43207,HN9600,Y1B051,YahClick Empower 20GB,NaN,2628267,Inactive,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa...",Bayelsa,Bayelsa
1,NC010G1,6.470000,6.090000,8020575565,GETACHUS NIG LTD Hyperia,43206,NaN,3619771,NaN,NaN,...,43207,HN9260,Y1B051,YahClick Lite 10GB,NaN,2332146,Inactive,"F39R+X2 Ebute-Ujogba, _Uhi, Edo, _301113, Ed...",Edo,Edo
2,NC010G1,9.240000,12.439722,(234) 146-1991,Etchgold Nigeria Limited,43200,NaN,3373588,SKY01326,NaN,...,43207,HN9800,Y1B061,YahClick Lite 10GB,NaN,2482968,Inactive,"6CQQ+XV Jimeta, _6CRQ+27Q, Barracks Road, Kar...",Adamawa,Adamawa
3,NC010G1,5.483333,5.197500,8032345321,SDC Limited Hyperia,43216,NaN,3587734,NaN,NaN,...,43216,HN9800,Y1B051,YahClick Lite 10GB,NaN,2489641,Inactive,"F5MW+8X Olusumere-Oke, _Unnamed Road, 332105,...",Delta,Delta
4,NC010G1,5.350556,5.351667,8032345321,SDC Limited Hyperia,43217,NaN,3587813,NaN,NaN,...,43217,HN9800,Y1B051,YahClick Lite 10GB,NaN,2484453,Inactive,"9922+6M Forcados, _Unnamed Road, 332112, Ogul...",Delta,Delta

In [21]:
df.to_csv("./clean_data_3.csv", index=False)