In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("./Termination_Dump  with coordinates.xlsx", sheet_name="Sheet1")

In [3]:
df.columns

Index(['NMS Service Plan Id', 'Lat', ' Long', 'xml', 'Address', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Phone', 'Parent Account: Account Name',
       'Latest Decommission Date', 'DSS Order ID', 'FSO ID', 'Enterprise ID',
       'Distributor Partner Id', 'Satellite', 'Gateway Name', 'Transponder',
       'Created Date', 'Latest Commission Date', 'Last Modified Date', 'Modem',
       'Beam Id', 'Offer/Plan Name', 'Offer Description', 'Serial Number',
       'Location Status', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
       'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70',
       'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74',
       'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78',
       'Unnamed: 79', 'Unnamed: 80'],
      dtype='object')

In [4]:
cols = ['Address', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28']
cols1 = ['Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66',
       'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70',
       'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73', 'Unnamed: 74',
       'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77', 'Unnamed: 78',
       'Unnamed: 79', 'Unnamed: 80']
df['location'] = df[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)

In [5]:
df.head(4)

,NMS Service Plan Id,Lat,Long,xml,Address,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,location
0,NC020G1,4.956944,6.361944,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...","X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa...","X946+QQ Yenagoa, Nigeria","Isaac Adaka Borough Expy, 569101, Yenagoa, Bay...","569101, Yenagoa, Bayelsa, Nigeria","Epie 11, Bayelsa, Nigeria","569101, Bayelsa, Nigeria",...,Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa...","X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa..."
1,NC010G1,6.470000,6.090000,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...","F39R+X2 Ebute-Ujogba, Nigeria","Uhi, Edo, Nigeria","301113, Edo, Nigeria","Uhunmwonde, Edo, Nigeria","Edo, Nigeria",Nigeria,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"F39R+X2 Ebute-Ujogba, Nigeria","F39R+X2 Ebute-Ujogba, Nigeria_Uhi, Edo, Nigeri..."
2,NC010G1,9.240000,12.439722,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...","6CQQ+XV Jimeta, Nigeria","6CRQ+27Q, Barracks Road, Karewa 640101, Jimeta...","Unnamed Road, Karewa 640101, Jimeta, Adamawa, ...","Karewa 640101, Jimeta, Adamawa, Nigeria","Jimeta, Adamawa, Nigeria","640101, Adamawa, Nigeria",...,"Adamawa, Nigeria",Nigeria,NaN,NaN,NaN,NaN,NaN,NaN,"6CQQ+XV Jimeta, Nigeria","6CQQ+XV Jimeta, Nigeria_6CRQ+27Q, Barracks Roa..."
3,NC010G1,5.483333,5.197500,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...","F5MW+8X Olusumere-Oke, Nigeria","Unnamed Road, 332105, Delta, Nigeria",Nigeria,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"F5MW+8X Olusumere-Oke, Nigeria","F5MW+8X Olusumere-Oke, Nigeria_Unnamed Road, 3..."

In [6]:
df.drop(cols, axis=1, inplace=True)
df.drop(cols1, axis=1, inplace=True)

In [7]:
df.head(3)

,NMS Service Plan Id,Lat,Long,xml,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,...,Created Date,Latest Commission Date,Last Modified Date,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,location
0,NC020G1,4.956944,6.361944,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",08032582277,Marcorex Telco Services Hyperia,43203,NaN,3521532,NaN,...,43200,42444,43207,HN9600,Y1B051,YahClick Empower 20GB,NaN,2628267,Inactive,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa..."
1,NC010G1,6.470000,6.090000,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",08020575565,GETACHUS NIG LTD Hyperia,43206,NaN,3619771,NaN,...,43200,43178,43207,HN9260,Y1B051,YahClick Lite 10GB,NaN,2332146,Inactive,"F39R+X2 Ebute-Ujogba, Nigeria_Uhi, Edo, Nigeri..."
2,NC010G1,9.240000,12.439722,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",(234) 146-1991,Etchgold Nigeria Limited,43200,NaN,3373588,SKY01326,...,43200,41745,43207,HN9800,Y1B061,YahClick Lite 10GB,NaN,2482968,Inactive,"6CQQ+XV Jimeta, Nigeria_6CRQ+27Q, Barracks Roa..."

In [8]:
states_in_nigeria = [
    "Abia", "Adamawa","Akwa Ibom","Anambra",
    "Bauchi","Bayelsa","Benue","Borno",
    "Cross River","Delta",
    "Ebonyi","Edo","Ekiti","Enugu",
    "Gombe","Imo","Jigawa","Kaduna",
    "Kano","Katsina","Kebbi","Kogi","Kwara","Lagos", 
    "Nasarawa","Niger", "Ogun","Ondo", "Osun","Oyo",
    "Plateau","Rivers", "Sokoto","Taraba","Yobe",
    "Zamfara","Federal Capital Territory","Abuja"
]
def is_state_in_nigeria(location):
    for state in states_in_nigeria:
        if state in location:
            return state
    return False

In [10]:
df['state'] = df['location'].apply(is_state_in_nigeria)
df.head()

,NMS Service Plan Id,Lat,Long,xml,Phone,Parent Account: Account Name,Latest Decommission Date,DSS Order ID,FSO ID,Enterprise ID,...,Latest Commission Date,Last Modified Date,Modem,Beam Id,Offer/Plan Name,Offer Description,Serial Number,Location Status,location,state
0,NC020G1,4.956944,6.361944,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",08032582277,Marcorex Telco Services Hyperia,43203,NaN,3521532,NaN,...,42444,43207,HN9600,Y1B051,YahClick Empower 20GB,NaN,2628267,Inactive,"X947+V47, Mbiama-Yenagoa Road, 569101, Yenagoa...",Bayelsa
1,NC010G1,6.470000,6.090000,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",08020575565,GETACHUS NIG LTD Hyperia,43206,NaN,3619771,NaN,...,43178,43207,HN9260,Y1B051,YahClick Lite 10GB,NaN,2332146,Inactive,"F39R+X2 Ebute-Ujogba, Nigeria_Uhi, Edo, Nigeri...",Edo
2,NC010G1,9.240000,12.439722,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",(234) 146-1991,Etchgold Nigeria Limited,43200,NaN,3373588,SKY01326,...,41745,43207,HN9800,Y1B061,YahClick Lite 10GB,NaN,2482968,Inactive,"6CQQ+XV Jimeta, Nigeria_6CRQ+27Q, Barracks Roa...",Adamawa
3,NC010G1,5.483333,5.197500,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",08032345321,SDC Limited Hyperia,43216,NaN,3587734,NaN,...,42965,43216,HN9800,Y1B051,YahClick Lite 10GB,NaN,2489641,Inactive,"F5MW+8X Olusumere-Oke, Nigeria_Unnamed Road, 3...",Delta
4,NC010G1,5.350556,5.351667,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Geoco...",08032345321,SDC Limited Hyperia,43217,NaN,3587813,NaN,...,42968,43217,HN9800,Y1B051,YahClick Lite 10GB,NaN,2484453,Inactive,"9922+6M Forcados, Nigeria_Unnamed Road, 332112...",Delta

In [11]:
df.to_csv("./clean_data_2.csv", index=False)